
/* Chat Bott styling  */
.container{
    width:85%;
    margin: auto;
    margin-top: 100px;
}
.bot-img{
    position:absolute;
    bottom:0;
    left:10px;
}
.heading-text{
    position: absolute;
    top:-5vw;
    left:-10vw;
    margin-left: 50px;
    margin-right: 20px;
}
.heading-text h1{
    color:rgb(0, 195, 255);
    font-size: max(5vw , 35px);
}
.heading-text h2{
    color:rgb(63, 63, 63);
    font-size: max(2vw , 20px);
}
.main{
    height: 450px;
    padding: 20px;
    background-image: url('images/bot2.PNG');
    border-radius: 10px 10px 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    background-size: 50%;
    background-position: center;
    box-shadow: inset 0px 0px 10px -5px rgb(160,160,160);
    background-repeat: no-repeat;
    opacity: .8;
}
#inp_text{
    border-radius: 20px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: inset 0px 0px 5px -2px rgb(160, 160, 160);
}
.main::-webkit-scrollbar{
    width: 0px;
}
.request , .response{
    width: fit-content;
    max-width: 75%;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 10px -6px #000;
    z-index: 1;
}
.request{
    color: white;
    background-color: #006eff;
    margin-left: auto;
    border-radius: 0 10px 10px 10px ;

}

.response{
    background-color: rgb(219, 219, 219);
    margin-right: auto;
    border-radius: 10px 0 10px 10px;
}
#outer{
    box-shadow: 5px 5px 40px -15px rgb(146, 145, 145);
}

.img img{
  position: absolute;
  width: 300px;
  z-index: -1;
}

#send{
    border-radius: 0px 0px 20px;
}

@media all and (max-width:768px){
    .bot-img{
        display:none;
    }
}


